@model EditProductViewModel

@{
    ViewData["Title"] = "Edit Product";
}

<div class="container col-md-6 col-lg-5 mt-3">
    <form class="border p-3" method="post" asp-action="modifycategory" id="categoryForm">

        <input asp-for="Id" hidden />
        <input asp-for="ImageSource" id="modelImageInput" hidden />
        <input asp-for="CategoriesStringed" hidden />
        <input asp-for="NumberParameter" id="numberParameter" value="0" hidden />
        <input asp-for="DateCreated" hidden />

        <div class="mx-auto d-block m-3 position-relative" style="height: 200px; width: 200px;">
            <img title="@Model.Name" class="card-img rounded shadow-sm" style="height: inherit; object-fit: cover;" src="@(string.IsNullOrEmpty(Model.ImageSource) ? "~/images/no-image.jpg" : Model.ImageSource)" asp-append-version="true" />
            <label for="imageSourceInput" class="btn btn-light border position-absolute bottom-0 end-0" style="display: inline-block;cursor: pointer;border-radius: 4px;">
                <i class="bi bi-pencil"></i>
            </label>
            <input asp-for="ImageSource" type="file" name="file" id="imageSourceInput" oninput="setImageSource()" hidden/>
            <button type="submit" asp-action="changeimage" id="submitImageBtn" hidden></button>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Name" class="form-control" />
            <label asp-for="Name"></label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="UnitPrice" class="form-control" type="number" />
            <label asp-for="UnitPrice"></label>
            <span asp-validation-for="UnitPrice" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Description" class="form-control"/>
            <label asp-for="Description"></label>
        </div>

        <label asp-for="CategoriesStringed">Categories</label>

        <div class="input-group mb-3" style="width: 100%">
            <div class="d-flex border flex-wrap">
                @foreach (Category category in ViewBag.Categories)
                {
                    bool isExist = Model?.HasCategory(category.Id) ?? false;
                    string color = isExist ? "bg-success" : "bg-light";
                    string icon = isExist ? "bi-check-lg" : "bi-x-lg";

                    <a class="submit-button" data-value="@category.Id">
                        <span class="badge rounded-pill p-2 m-2 me-0 form-group @(color)" style="cursor: pointer">
                            <i class="bi @(icon)"></i>
                            <span class="me-2 ms-2">@category.Name</span>
                        </span>
                    </a>
                }
            </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-danger ml-md-auto ps-5 pe-5" asp-action="Delete" type="submit">Delete</button>
            <button class="btn btn-primary ml-md-auto ps-5 pe-5" asp-action="Submit" type="submit">Save</button>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        document.querySelectorAll('.submit-button').forEach(button => {
            button.addEventListener('click', function () {
                const value = this.getAttribute('data-value');
                document.getElementById('numberParameter').value = value;
                document.getElementById('categoryForm').submit();
            });
        });

        function setImageSource() {
            var fileInput = document.getElementById('imageSourceInput');
            var file = fileInput.files[0];

            console.log('Test');

            var formData = new FormData();
            formData.append('file', file);

            var fileName = '';

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/EditProduct/Upload', true);
            xhr.onload = function () {
                if (xhr.status === 200) {
                    fileName = xhr.responseText;

                    document.getElementById('modelImageInput').value = fileName;
                    document.getElementById('submitImageBtn').click();

                    console.log('File uploaded successfully');
                } else {
                    document.getElementById('submitImageBtn').click();
                    console.error('Failed to upload file');
                }
            };
            xhr.send(formData);
        }
    </script>
}