@model Product

@{
    ViewData["Title"] = "Edit Product";
    List<int> productCategoryIds = Model.GetCategoriesArray().Select(x => x.Id).ToList();
    int[] data = (int[])(TempData["_productCategories"] ?? new int[0]);
    HashSet<int> test = new HashSet<int>();
}

<div class="container">
    <form class="border p-3" method="post">
        <div style="height: 200px; width: 200px;">
            <img title="@Model.Name" class="card-img" style="max-height: 100%; max-width: 100%; object-fit: cover;" src="@(string.IsNullOrEmpty(Model.ImageSource) ? "~/images/no-image.jpg" : Model.ImageSource)" asp-append-version="true" />
        </div>

        <input asp-for="Id" class="d-none" />
        <input asp-for="ImageSource" class="d-none" />
        <input asp-for="Category" class="d-none" />
        <div class="form-floating mb-3">
            <input asp-for="Name" class="form-control" />
            <label asp-for="Name"></label>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="UnitPrice" class="form-control" type="number" />
            <label asp-for="UnitPrice"></label>
        </div>

        <label asp-for="Category">Categories</label>

        <div class="input-group mb-3" style="width: 100%">
            <div class="d-flex border flex-wrap">
                @foreach (Category category in ViewBag.Categories)
                {
                    bool isExist = data.Contains(category.Id);
                    string color = isExist ? "bg-success" : "bg-light";
                    string icon = isExist ? "bi-check-lg" : "bi-x-lg";

                    bool isChecked = productCategoryIds.Contains(category.Id);
                    <a asp-action="ModifyCategory" asp-route-itemId="@Model.Id" asp-route-categoryId="@category.Id" style="text-decoration: none">
                        <span class="badge rounded-pill p-2 m-2 me-0 form-group @(color)" style="cursor: pointer">
                            <i class="bi @(icon)"></i>
                            <span class="me-2 ms-2">@category.Name</span>
                        </span>
                    </a>
                }
            </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary ml-md-auto ps-5 pe-5" type="submit" asp-action="Submit">Save</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}