@model PageInfo<Product>

@{
    ViewData["Title"] = "Home Page";
    PageInfo<Product> pageInfo = ViewBag.PageInfo;
    CategoryFilterService categoryFilter = ViewBag.CategoryFilter;
}

<div class="bg-primary container-fluid p-1 pt-3 p-lg-4 mb-3">
    <div class="container-fluid d-flex flex-row">
        <div class="col">
            <h4 class="text-light text-uppercase">Your favorite</h4>
            <h1 class="text-light">EMarket <i class="bi bi-shop"></i></h1>
        </div>
        <div class="col-7 d-none d-lg-block">
            <div class="container-fluid d-none d-lg-flex" id="featuredProductContainer">
                @if (pageInfo.ActiveItems.Any())
                {
                    <button class="btn btn-sm circle text-white align-self-center" onclick="navigate(-1)"><i class="bi bi-chevron-left"></i></button>
                    <div class="flex-grow-1 d-flex align-content-center p-2" id="featuredProductDiv"></div>
                    <button class="btn btn-sm text-white align-self-center" onclick="navigate(1)"><i class="bi bi-chevron-right"></i></button>
                }
            </div>
        </div>
    </div>
</div>

<div class="row container-fluid p-lg-5">
    <div class="col-lg-3">
        <div class="input-group mb-3">
            <input type="text" id="searchString" class="form-control" placeholder="Looking for something?"
            aria-label="Recipient's username" aria-describedby="button-addon2" oninput="search(this.value)">
        </div>
        <div class="container-sm w-auto d-none d-lg-block">
            <fieldset class="form-group p-2">
                <legend>Category</legend>
                @foreach (var category in categoryFilter.Categories
                    .OrderBy(m => m.Id < 0)
                    .ThenBy(m => m.Name))
                {
                    <form method="post" asp-action="oncategoryticked" asp-route-categoryId="@category.Id">
                        <div class="form-check ms-3 ms-lg-0">
                            <input class="form-check-input" type="checkbox" id="@category.Id"
                            onchange="this.form.submit()" @(categoryFilter.IsDisplayed(category.Id) ? "checked" : "")/>
                            <label class="form-check-label" for="@category.Id">
                                @category.Name
                            </label>
                        </div>
                    </form>
                }
            </fieldset>
        </div>
    </div>
    <div class="col">
        <div id="message" class="d-flex justify-content-center"></div>

        <div class="card-deck d-flex flex-wrap justify-content-start ps-0" id="itemsDisplay">
            @foreach (Product product in pageInfo.ActiveItems)
            {
                <div class="me-lg-3 mt-2 mb-2 me-2 ms-lg-0">
                    @await Html.PartialAsync("_ProductCard", product)
                </div>
            }
        </div>

        @if (Model.NoOfPages > 1)
        {
            <div class="container-fluid ps-0">
                <ul class="pagination pagination-sm">
                    <li class="page-item @(Model.ActivePage <= 1 ? "disabled" : "")">
                        <a class="page-link" asp-action="Navigate" asp-route-pageNo="@(Model.ActivePage - 1)"><i class="bi bi-chevron-left"></i></a>
                    </li>
                    @foreach (var pageNo in Enumerable.Range(1, Model.NoOfPages))
                    {
                        <li class="page-item">
                            <a class="page-link @(Model.ActivePage == pageNo ? "active" : "")" asp-action="Navigate" asp-route-pageNo="@pageNo">@pageNo</a>
                        </li>
                    }
                    <li class="page-item @(Model.ActivePage >= Model.NoOfPages ? "disabled" : "")">
                        <a class="page-link" asp-action="Navigate" asp-route-pageNo="@(Model.ActivePage + 1)"><i class="bi bi-chevron-right"></i></a>
                    </li>
                </ul>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
        getItems();
        navigate(0);

        function getItems() {
            $.ajax({
                url: '/Home/GetItems',
                type: 'GET',
                success: function (result, textStatus, xhr) {
                    if (xhr.status == 204) {
                        showItems(false);
                        document.getElementById('message').innerHTML = '<h6>There are no products listed. <a href="/AddProduct">Try adding one!</a></h6>';
                    } else {
                        $('#itemsDisplay').html(result);
                        showItems(true);
                    }
                },
                error: function () {
                    console.log('Problem occured.');
                }
            });
        }

        function search(searchString) {
            $.ajax({
                url: '/Home/Search',
                type: 'GET',
                data: { searchString: searchString },
                success: function (result, textStatus, xhr) {
                    if (xhr.status == 204) {
                        console.log('huh');
                        showItems(false);
                        document.getElementById('message').innerHTML = '<h6>No match found.</h6>';
                    } else {
                        $('#itemsDisplay').html(result);
                        showItems(true);
                    }
                },
                error: function () {
                    console.log('Problem occured.');
                }
            });
        }

        function showItems(isShown) {
            var message = $('#message');
            var itemsDisplay = $('#itemsDisplay');

            if (isShown) {
                if (itemsDisplay.hasClass('d-none')) {
                    itemsDisplay.removeClass('d-none');
                }

                if (message.hasClass('d-none') == false) {
                    message.addClass('d-none');
                }
            } else {
                if (itemsDisplay.hasClass('d-none') == false) {
                    itemsDisplay.addClass('d-none');
                }

                if (message.hasClass('d-none')) {
                    message.removeClass('d-none');
                }
            }
        }

        function navigate(direction) {
            var container = $('#featuredProductContainer');

            $.ajax({
                url: '/Home/GetFeaturedProductView',
                type: 'GET',
                data: { direction: direction },
                success: function (result) {
                    $('#featuredProductDiv').html(result);
                    if (container.hasClass('d-none')) {
                        container.removeClass('d-none');
                        container.addClass('d-flex');
                        container.addClass('d-lg-flex');
                    }
                },
                error: function () {
                    console.log('Not found');
                    if (container.hasClass('d-none') == false) {
                        container.addClass('d-none');
                        container.removeClass('d-flex');
                        container.removeClass('d-lg-flex');
                    }
                }
            });
        }

        function showItemsContainer(isShown) {
            if (isShown) {
                if (container.hasClass('d-none')) {
                    container.removeClass('d-none');
                    container.addClass('d-flex');
                    container.addClass('d-lg-flex');
                }
            } else {
                if (container.hasClass('d-none') == false) {
                    container.addClass('d-none');
                    container.removeClass('d-flex');
                    container.removeClass('d-lg-flex');
                }
            }
        }

        function displayItems(items) {
            $('#featuredProductDiv').html(result);
        }

        function addtocart(productId) {
            $.ajax({
                url: '/Home/AddToCart',
                type: 'GET',
                data: { productId: productId },
                success: function (result) {
                    console.log('Added to cart');
                    toastr.success('Added ' + result + ' to cart.');
                },
                error: function () {
                    console.log('Not found');
                }
            });
        }
    </script>
}