@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="mb-5 bg-primary">
    <div class="container-fluid">
        <h1 class="text-light">Welcome to EMarket.</h1>
    </div>
</div>

@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    <div>
        <div class="input-group mb-3 w-25" style="min-width: fit-content">
            @Html.TextBox("searchString", null, new { @class = "form-control", placeholder = "Looking for something?" })
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
}

<div class="card-deck d-flex flex-wrap justify-content-center">
    @if (Model is null || Model.Count() < 1)
    {
        <h6>There are no products listed. Try again later.</h6>
    }
    else
    {
        foreach (Product product in Model)
        {
            <div class="card m-2" style="width: 200px">

                <div class="card-body text-center">
                    <div style="height: 150px">
                        <img class="card-img" style="height: inherit;object-fit:cover" src="@(string.IsNullOrEmpty(product.ImageSource) ? "~/images/no-image.jpg" : product.ImageSource)" asp-append-version="true"/>
                    </div>
                    <h6 class="card-title mt-4 mb-1">@product.Name</h6>
                    <div class="row">    
                        <small class="text-body-tertiary" style="font-size: 12px">
                            @product.Category?.Name
                        </small>
                        <small class="card-text text-body-tertiary">
                            Php @product.UnitPrice.ToString("N2")
                        </small>
                    </div>
                </div>

                <div class="position-relative">
                    <div class="position-absolute bottom-0 end-0 m-2">
                        <button class="badge bg-outline-primary rounded-pill border-0 p-1">
                            <i class="bi bi-plus text-primary" style="font-size: 20px"></i>
                        </button>
                    </div>
                </div>

            </div>
        }
    }
</div>
