@using EMarketWeb.Services
@{
    ViewData["Title"] = "Home Page";
    PageInfo<Product> pageInfo = ViewBag.PageInfo;
    CategoryFilterService categoryFilter = ViewBag.CategoryFilter;
}

<div class="bg-primary container-fluid p-1 pt-3 p-lg-4 mb-3">
    <div class="container-fluid d-flex flex-row">
        <div class="col">
            <h4 class="text-light text-uppercase">Your favorite</h4>
            <h1 class="text-light">EMarket <i class="bi bi-shop"></i></h1>
        </div>
        <div class="col-7 container-fluid d-flex d-lg-flex d-none">
            @if (pageInfo.ActiveItems.Any())
            {
                <button class="btn btn-sm circle text-white align-self-center" onclick="navigate(-1)"><i class="bi bi-arrow-left"></i></button>
                <div class="flex-grow-1 d-flex align-content-center p-2">
                    <div id="productCard" class="shadow" ></div>
                    <div class="text-white flex-grow-1 d-flex flex-column align-items-center justify-content-center ms-4">
                        <h4 id="productDescription"></h4>
                        <div class="container text-end">
                            <h3 id="productPrice"></h3>
                        </div>
                    </div>
                </div>
                <button class="btn btn-sm text-white align-self-center" onclick="navigate(1)"><i class="bi bi-arrow-right"></i></button>
            }
        </div>
    </div>
</div>

<div class="row container-fluid p-lg-5">
    <div class="col-lg-3">
        <form asp-action="search" method="get">
            <div class="input-group mb-3">
                <input type="text" name="searchString" class="form-control" placeholder="Looking for something?" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
            </div>
        </form>
        <div class="container-sm w-auto d-none d-lg-block">
            <fieldset class="form-group p-2">
                <legend>Category</legend>
                @foreach (var category in categoryFilter.Categories
                    .OrderBy(m => m.Id < 0)
                    .ThenBy(m => m.Name))
                {
                    <form method="post" asp-action="oncategoryticked" asp-route-categoryId="@category.Id">
                        <div class="form-check ms-3 ms-lg-0">
                            <input class="form-check-input" type="checkbox" id="@category.Id" onchange="this.form.submit()" @(categoryFilter.IsDisplayed(category.Id) ? "checked" : "")/>
                            <label class="form-check-label" for="@category.Id">
                                @category.Name
                            </label>
                        </div>
                    </form>
                }
            </fieldset>
        </div>
    </div>
    <div class="col">
        @if (!pageInfo.ActiveItems.Any())
        {
            <h6>There are no products listed. Try again later.</h6>
        }
        else
        {
            <div class="container-fluid ps-0">
                <ul class="pagination pagination-sm">
                    <li class="page-item">
                        <a class="page-link" asp-action="Navigate" asp-route-pageNo="@(pageInfo.ActivePage - 1)">&laquo;</a>
                    </li>
                    @foreach (var pageNo in Enumerable.Range(1, pageInfo.NoOfPages))
                    {
                        <li class="page-item">
                            <a class="page-link @(pageInfo.ActivePage == pageNo ? "active" : "")" asp-action="Navigate" asp-route-pageNo="@pageNo">@pageNo</a>
                        </li>
                    }
                    <li class="page-item">
                        <a class="page-link" asp-action="Navigate" asp-route-pageNo="@(pageInfo.ActivePage + 1)">&raquo;</a>
                    </li>
                </ul>
            </div>

            <div class="card-deck d-flex flex-wrap justify-content-start ps-0">
                @foreach (Product product in pageInfo.ActiveItems)
                {
                    <div class="me-lg-3 mt-2 mb-2 me-2 ms-lg-0">
                        @await Html.PartialAsync("_ProductCard", product)
                    </div>
                }

                <div class="card me-lg-3 mt-2 mb-2 me-2 ms-lg-0 ms-2 justify-content-center d-flex bg-body-secondary" style="width: 200px; min-height: 200px">

                    <a asp-action="index" asp-controller="addproduct" class="d-flex justify-content-center align-items-center w-100 h-100" style="text-decoration: none;">
                        <div class="card-body text-center">
                            <i class="bi bi-plus-lg text-primary"></i>
                        </div>
                    </a>

                </div>

            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        var currentIndex = 0;

        navigate(0);

        function navigate(direction) {
            var products = @Html.Raw(Json.Serialize(pageInfo.ActiveItems
                .Select(x => new Product
                    {
                        Description = x.Description,
                        UnitPrice = x.UnitPrice
                    })
                    .ToArray()));

            var maxCount = products.length;
            
            currentIndex += direction;
            console.log(products.length);
            if (currentIndex < 0) {
                currentIndex = maxCount - 1;
            } else if (currentIndex >= maxCount) {
                currentIndex = 0;
            }
            
            var product = products[currentIndex];

            loadProductCard(currentIndex);

            $('#productDescription').html(product['description']);
            $('#productPrice').html('Php ' + product['unitPrice']);
        }

        function loadProductCard(indexNo) {
            $.ajax({
                url: '/Home/GetProductCardView',
                type: 'GET',
                data: { indexNo: indexNo },
                success: function (result) {
                    $('#productCard').html(result);
                },
                error: function () {
                    console.log('Not found')
                }
            });
        }

    </script>
}